<hr>
<h5>SEARCH</h5>
<div id="site_search">
    <input type="text" style="border-radius: 2px; border-width: thin" id="search_box" placeholder="Search for '...'">
    <button class="btn-default" id="site_search_do", style="border-radius: 99em; border-width: thin">
        <span class="octicon octicon-search"></span>
    </button>
</div>

<ul id="search_results"></ul>

<link rel="stylesheet" type="text/css" href="/css/sidebar-search.css">

<script src="/js/lunr.min.js"></script>
<script src="/js/search.js"></script>
